#container{
    background-color: #ccc;
    color: aqua;
}
#radius_right{
    background-color: #fc0;
    color: cornflowerblue;
}
#radius_left{
    background-color: #fc0;
    color: cornflowerblue;
}
